.hm {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
.topbar-right {
    display: flex;
    justify-content: end;
}

.headertitles {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.topimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.logot{
    margin-left: 10px;
    font-size: 15px;
    padding: 10px;
    background-color: rgb(23, 188, 122);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height:fit-content;
    align-items: center;
}
.logot:hover{
    background-color: rgb(9, 88, 57);
}