
.logcont{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    justify-content: center;
    
}

.logincontainer{
    width:25vw;
    height:fit-content;
    border:1px solid black ;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: white;
    background-color: rgb(141, 104, 177);   
}

.logincontainer h1{
    width:100%;
    text-align:center
}

.btn{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 4px;
}

.signupbtn{
    margin-top: 5px;
    font-size: 18px;
    border-radius: 4px;
}

    
.signupbtn {
    font-size: 15px;
    padding: 10px 15px;
    background-color: rgb(12, 201, 154);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}